#navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

#navigation button {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  background-color: green;
  color: hsla(0, 0%, 100%, 0.86);
  margin: 0 100px;
}

#navigation button:hover {
  background-color: darkgreen;
}