#header {
  background-color: #43A047;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  color: hsla(0, 0%, 100%, 0.86);
  padding: 0 75px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

#header input {
  height: 35px;
  border: 0;
  background-color: hsla(0, 0%, 100%, 0.86);
  padding: 5px;
  border-radius: 5px 0 0 5px;
}

#header button {
  height: 35px;
  border: 0;
  background-color: green;
  /* border-left: 1px solid black; */
  padding: 0 10px;
  border-radius: 0 5px 5px 0 ;
}

#header button:hover {
  background-color: darkgreen;
}

@media only screen and (max-width: 770px) {
  #header {
    padding: 25px;
  }
}

@media only screen and (max-width: 650px) {
  #header {
    padding: 10px;
  }
}

@media only screen and (max-width: 350px) {
  #header {
    flex-direction: column;
    height: 100px;
  }
}