.ImageCard {
  /* border: 1px solid black; */
  /* height: 200px; */
  width: 200px;
  display: flex;
  align-items: center;
}

.ImageCard img {
  width: 100%;
  border-radius: 5px;
  max-height: 100%;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

@media only screen and (min-width: 1920px) {
  .ImageCard img:hover {
    box-shadow: 0 8px 6px 0 hsla(0, 0%, 0%, 0.2);
    transform: translateY(-5px);
  }
}

@media only screen and (max-width: 430px) {
  .ImageCard {
    width: 150px;
  }
}